h1,p{
    margin: 0;

 }
#header_name{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 3%;
    color: white;
    font-weight: bold;
    line-height:1em;
    font-size:46px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body{
    margin-top: 0em;
    margin: 0px;
    padding: 0px;
}
#root{
    margin: 0px;
    padding: 0px;
}
#header{
    margin: 0px;
    color: white;
    background-color: black;
}
#header_up {

    color: aqua;
    background-color: black;
}
#body {

    background-color: white;
}
#header_down {

    color: aqua;
    background-color: black;
}
#image_div{
    margin: auto;
}

.front_page_background_1{
    background-color: rgb(63, 62, 62);
    color: white;
    padding: 5em;
    padding-left: 7em;
    padding-right: 7em;
    height: auto;
    vertical-align: middle;
}
.front_page_background_2{
    background-color: white;
    padding: 5em;
    padding-left: 7em;
    padding-right: 7em;
    height: auto;
}
.front_page_background_2_text{
    font-size: 1.5em;
}
.front_page_background_1_text{
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    
}

/* Add a black background color to the top navigation */
.topnav {
    background-color:black;
    overflow: hidden;
    align-content: center;
    width: fit-content;
  }
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1em 2em;
    text-decoration: none;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

  
.frontpage_subtitle{
    font-size: 3em;
    color: white;
}
.frontpage_subtitle_type_2{
    font-size: 3em;
    color: black;
    text-align: left;
}
.frontpage_text{
    margin-top: 1em;
    font-size: 2em;
}
#interest_cloud{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
}
ul.cloud li {
    margin:auto;
    margin-top: 20px;

}
#experience_list{
    list-style: none;
    padding-left: 0;
    font-size: 1.5em;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
color: white;
background-color: transparent;
text-decoration: none;
}

a:hover {
color: red;
background-color: transparent;
text-decoration: underline;
}

a:active {
color: yellow;
background-color: transparent;
text-decoration: underline;
}

.mySlides {
    display: none;
}

  /* Number text (1/5 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}
.volunteer_text_body{
    font-size: 1.5em;
}

.front_flag_div{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    overflow: hidden;
}